*{
    margin: 0;
    padding: 0;
    background-color: #9fe79c;
}

.oop-class, .profession, .git-command{
    margin: 5% auto 0%;
    background-color: #eee;
    width: 50%;
    padding: 2%;
    font-family: cursive;
}
h2{
    font-size: 30px;
    font-weight: bold;
    background-color: #eee;
}
p, .git-command ul li{
    font-size: 17px;
    padding-top: 5px;
    background-color: #eee;
}
.git-command ul{
    list-style: none;
}
.git-command ul li span{
    background-color: #eee;
}
.spacer{
    margin-left: 20px;
}